extends layout

block content
  h1= title
  
  each message in messages
    div.card.mar-top-20
      div.card-body.text-white.bg-primary
        h5.card-title #{message.user}
        p.card-text #{message.text}
      div.card-footer.text-white.bg-dark #{moment(messages.added).format('LLLL')}
  
  a.btn.btn-outline-primary.btn-block.mar-top-20(href='/new') Add Message

